  body{
        margin:0;
        height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
        font-family: Arial, sans-serif;
        background:#f2f2f2;
    }

    #contenedor{
        background:white;
        padding:30px;
        border-radius:12px;
        box-shadow:0 10px 30px rgba(0,0,0,.15);
        text-align:center;
        min-width:300px;
    }

    #conteo{
        font-size:4rem;
        margin:20px 0;
    }

    .operaciones{
        display:flex;
        gap:10px;
        justify-content:center;
    }

